@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

main{
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit";
    display: grid;
    justify-content: center;
}
.title{
    font-size: 16px;
    font-weight: 300;
}
.rose-background{
    background-color: hsl(330, 100%, 98%)
}
.rose-title{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}
h2, h3{
    font-family: "Young Serif", serif;
}
ul{
    font-weight: 200;
}
h3{
    color: hsl(14, 45%, 36%);
    font-weight: 5s00;
}
ol li::marker{
    color:hsl(14, 45%, 36%) ;
    font-weight: 700;
}
th{
    color: hsl(14, 45%, 36%);
    padding-left: 175px;
    font-size: 16px;
}
#white-back{
    background-color: white;
    width: 450px;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    margin-top: 100px;
}
img{
    width: 400px;
    border-radius: 13px;
    margin-top: 25px;
}
hr{
    background-color: hsl(30, 18%, 87%)
}
#biggest{
    display: grid;
    margin: 0 25px 0 25px;
}
.instructions{
    font-weight: 200;
}